USE [master]
GO
/****** Объект:  Database [PersonalFinance_v4]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
CREATE DATABASE [PersonalFinance_v4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PF_vol', FILENAME = N'C:\DBase\PFDB4\PF_vol1.mdf' , SIZE = 131072KB , MAXSIZE = 1048576KB , FILEGROWTH = 131072KB )
 LOG ON 
( NAME = N'PF_log', FILENAME = N'C:\DBase\PFDB4\PF_log.ldf' , SIZE = 102400KB , MAXSIZE = 1048576KB , FILEGROWTH = 102400KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonalFinance_v4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonalFinance_v4]
GO
/****** Объект:  Schema [Accounting]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
CREATE SCHEMA [Accounting]
GO
/****** Объект:  Schema [Reports]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
CREATE SCHEMA [Reports]
GO
/****** Объект:  Schema [STAGE]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
CREATE SCHEMA [STAGE]
GO
/****** Объект:  PartitionFunction [pf_CarryDate_Yearly]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
CREATE PARTITION FUNCTION [pf_CarryDate_Yearly](datetime2(7)) AS RANGE RIGHT FOR VALUES (N'2024-01-01T00:00:00.000', N'2025-01-01T00:00:00.000', N'2026-01-01T00:00:00.000', N'2027-01-01T00:00:00.000', N'2028-01-01T00:00:00.000')
GO
/****** Объект:  PartitionScheme [ps_CarryDate_Yearly]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
CREATE PARTITION SCHEME [ps_CarryDate_Yearly] AS PARTITION [pf_CarryDate_Yearly] TO ([PRIMARY], [PRIMARY], [PRIMARY], [PRIMARY], [PRIMARY], [PRIMARY], [PRIMARY])
GO
/****** Объект:  UserDefinedFunction [Accounting].[get_fBS]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************/
CREATE   function [Accounting].[get_fBS] (
    @id_period int,
    @id_type int,
    @id_corr int = 0
    )
RETURNS @result table (
        id_period int,
        id_type int,
        id_corr int,
        id_account int,
        id_client int,
        id_agreement int,
        VL_SUM numeric(28,12)
        )
WITH execute as OWNER
AS
BEGIN
    -- Объявляем табличную переменную 
    DECLARE @typelist TABLE (id_type INT);

    -- Разворачиваем иерархию типов вниз от переданного @id_type (версия иерархии = 1)
    INSERT INTO @typelist (id_type)
    SELECT id_node 
    FROM Accounting.getTypeHierarchy(1, @id_type);

    -- Если иерархия ничего не вернула (например, тип не найден), добавляем сам переданный тип как базовый
    IF NOT EXISTS (SELECT 1 FROM @typelist)
    BEGIN
        INSERT INTO @typelist (id_type) VALUES (@id_type);
    END

    -- Собираем и агрегируем инкрементальные остатки из витрины DM_REST
    INSERT INTO @result (
        id_period,
        id_type,
        id_corr,
        id_account,
        id_client,
        id_agreement,
        VL_SUM
    )
    SELECT 
        adr.id_period,
        @id_type AS id_type, -- Возвращаем запрошенный корневой тип для удобства аналитики
        CASE WHEN @id_corr = 0 THEN 0 ELSE adr.id_corr END AS id_corr, -- Группируем id_corr, если запрошены все сразу
        adr.id_account,
        adr.id_client,
        adr.id_agreement,
        SUM(adr.[value]) AS VL_SUM -- Математическое сложение (+ остатки и - сторно) дает чистый баланс
    FROM Accounting.dm_rest adr
    WHERE adr.id_period = @id_period
      AND adr.id_type IN (SELECT id_type FROM @typelist)
      AND (@id_corr = 0 OR adr.id_corr = @id_corr) -- Логика необязательного параметра корректировки
    GROUP BY 
        adr.id_period,
        CASE WHEN @id_corr = 0 THEN 0 ELSE adr.id_corr END,
        adr.id_account,
        adr.id_client,
        adr.id_agreement
    HAVING SUM(adr.[value]) <> 0; -- Отсекаем полностью закрывшиеся в ноль балансы для чистоты отчета

    RETURN;
END

GO
/****** Объект:  UserDefinedFunction [Accounting].[GET_PERIOD_LIMITS]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [Accounting].[GET_PERIOD_LIMITS](@id_period int)
returns @return_table table   (
    return_code int,
    left_margin date,
    right_margin date,
    descr nvarchar(1024)
    )
WITH execute as OWNER
    --установка значений по умолчанию (как для ошибки, при успехе будут перезаписаны)
AS
BEGIN
    

    declare 
        @return_code int = -1,
        @left_margin date = datefromparts(1900,1,1),
        @right_margin date = datefromparts(1900,1,1),
        @descr nvarchar(1024) = 'error'
    
    if exists (select 1 from Accounting.dic_period dp where dp.id_period = @id_period)
    select 
        @return_code = @id_period,
        @left_margin = dp.left_margin,
        @right_margin = dp.right_margin,
        @descr = dp.[description]
    from Accounting.dic_period dp where dp.id_period = @id_period

    INSERT INTO @return_table
    select 
        @return_code,
        @left_margin,
        @right_margin,
        @descr
    RETURN;

END

GO
/****** Объект:  UserDefinedFunction [Accounting].[get_PL]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************/
CREATE   function [Accounting].[get_PL] (
    @id_period int
    )
RETURNS @result table (
        id_period int,
        id_client int,
        id_account int,
        id_agreement int,
        turnover_vl numeric(28,12)
        )
WITH execute as OWNER
AS
BEGIN
    DECLARE @left_margin DATE;
    DECLARE @right_margin DATE;

    -- Извлекаем границы периода по его ID
    SELECT 
        @left_margin = left_margin,
        @right_margin = right_margin
    FROM Accounting.dic_period
    WHERE id_period = @id_period;

    -- Если период не найден, возвращаем пустую таблицу
    IF @left_margin IS NOT NULL AND @right_margin IS NOT NULL
    BEGIN
        INSERT INTO @result (id_period, id_client, id_account, id_agreement, turnover_vl)
        SELECT 
             @id_period
            ,da.id_client
            ,fc.id_account
            ,fc.id_agreement
            ,SUM(fc.VL) AS turnover_vl
        FROM Accounting.FCT_CARRY fc
        INNER JOIN Accounting.DIC_ACCOUNT da ON fc.id_account = da.id_account
        WHERE fc.carry_date >= @left_margin AND fc.carry_date < @right_margin
        GROUP BY da.id_client, fc.id_account, fc.id_agreement;
    END

    RETURN;
END
GO
/****** Объект:  UserDefinedFunction [Accounting].[GET_PRIOD_LIMITS]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************/
CREATE   FUNCTION [Accounting].[GET_PRIOD_LIMITS](@id_period int)
returns @return_table table   (
    return_code int,
    left_margin date,
    right_margin date,
    descr nvarchar(1024)
    )
WITH execute as OWNER
    --установка значений по умолчанию (как для ошибки, при успехе будут перезаписаны)
AS
BEGIN
    

    declare 
        @return_code int = -1,
        @left_margin date = datefromparts(1900,1,1),
        @right_margin date = datefromparts(1900,1,1),
        @descr nvarchar(1024) = 'error'
    
    if exists (select 1 from Accounting.dic_period dp where dp.id_period = @id_period)
    select 
        @return_code = @id_period,
        @left_margin = dp.left_margin,
        @right_margin = dp.right_margin,
        @descr = dp.[description]
    from Accounting.dic_period dp where dp.id_period = @id_period

    INSERT INTO @return_table
    select 
        @return_code,
        @left_margin,
        @right_margin,
        @descr
    RETURN;

END

GO
/****** Объект:  UserDefinedFunction [Accounting].[getTypeHierarchy]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************/
CREATE   function [Accounting].[getTypeHierarchy] (
    @id_version int,
    @start_position_id int
	)
returns @return_table table   (
    id_node  int,
    node_name nvarchar(1024),
    lvl int,
    path_tree nvarchar(max)
    )

WITH exec as OWNER
AS
BEGIN
	with CTE_hierarchy AS--формирование исходной таблицы для обработки
	(
--		declare @id_version int = 1;--тестовая строка
		SELECT
			dth.id_type as id,
			dt.[description] as descr,
			dth.parent_id as parent_id
		FROM Accounting.DIC_TYPE_HIERARCHY dth
		left join Accounting.DIC_TYPE dt on dt.id_type = dth.id_type
--		left join Accounting.DIC_TYPE_HIERARCHY_version dthv on dthv.id_version = dth.id_version
		where	dth.id_version = @id_version		
	),
	hrch_cte as (--первый уровень
		Select 
			id, 
			descr, 
			parent_id,
			1 as LVL,
			cast(@start_position_id as nvarchar(max) ) + N'->' + cast(id as nvarchar(max)) as path_tree
		from CTE_hierarchy
		where Parent_id = @start_position_id
	
		UNION ALL
	
		select--прочие уровни
			h.id,
			h.descr,
			h.Parent_id,
			c.lvl + 1,
			c.path_tree + N'->' + cast(h.id as nvarchar(max))
		from CTE_hierarchy as h
		join hrch_cte as c on h.Parent_id = c.id
	)
	--основной селектор
	insert into @return_table
	select--добавление корневого элемента
		id,
		descr as HierarchyName,
		0 as lvl,
		cast(@start_position_id as nvarchar(max) ) as path_tree
	FROM CTE_hierarchy
	where id = @start_position_id
	
	UNION ALL
	
	select--остальная иерархия
		id,
		replicate(N'  ', lvl) + descr as HierarchyName,
		lvl,
		path_tree
	from hrch_cte
--	order by path_tree

	RETURN
END

GO
/****** Объект:  UserDefinedFunction [STAGE].[FCT_CARRY_DOWNLOAD_FORMAT]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************/
CREATE   FUNCTION [STAGE].[FCT_CARRY_DOWNLOAD_FORMAT] (@id_period int)
returns 
    @return_table table   (
           [CARRY_DATE] datetime2
          ,[TURNOVER_SUM] numeric(28,12)
          ,[account_name] nvarchar(1024)
          ,[client_name] nvarchar(1024)
          ,[agreement_name] nvarchar(1024)
          ,[carry_ground] nvarchar(1024)
          ,[bal2] nvarchar(512)
          ,[extra_data] nvarchar(1024)
    )
WITH execute as OWNER
AS
BEGIN
    --выборка опознание пределов из get_period_limits
    declare @left_margin date, @right_margin date
    --получение границ периода
    select
        @left_margin = a.left_margin,
        @right_margin = a.right_margin
    from accounting.get_period_limits(@id_period) a

    INSERT INTO @return_table
        SELECT 
            fc.[CARRY_DATE]
            ,fc.VL as [TURNOVER_SUM]--при доработке, сумма по группе
            ,da.[account_name]
            ,dc.[client_name]
            ,dag.[agreement_name]
            ,fc.[carry_ground]
            ,db2.[name] as bal2 --под доработку - добавить версионирование (технически в 99% случаев между планами наименования не повторяются, но...)
            ,' ' as [extra_data] -- поле на перспективу, в будущем туда (и оттуда) будут собираться доп.атрибуты
        --select * 
        FROM Accounting.FCT_CARRY fc--таблица пустая, надо что-то положить туда
        left join Accounting.dic_account da on da.id_account = fc.id_account
        left join Accounting.DIC_BAL2 db2 on db2.id_bal2 = da.id_bal2
        left join Accounting.dic_client dc on dc.id_client = da.id_client
        left join Accounting.dic_agreement  dag on dag.id_agreement = fc.id_agreement
        where fc.carry_date between @left_margin and @right_margin
    RETURN;

END

GO
/****** Объект:  Table [Accounting].[DIC_ACCOUNT]    Дата создания скрипта: 09.10.2026 20:00:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[DIC_ACCOUNT](
	[id_account] [int] IDENTITY(1,1) NOT NULL,
	[account_name] [varchar](20) NOT NULL,
	[id_client] [int] NOT NULL,
	[account_description] [varchar](512) NOT NULL,
	[id_bal2] [int] NOT NULL,
	[valid_to] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[DIC_AGREEMENT]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[DIC_AGREEMENT](
	[id_agreement] [int] IDENTITY(1,1) NOT NULL,
	[agreement_name] [varchar](512) NOT NULL,
	[create_date] [datetime2](7) NOT NULL,
	[valid_to] [datetime2](7) NOT NULL,
	[is_del] [bit] NOT NULL,
	[id_client] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agreement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[DIC_BAL2]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[DIC_BAL2](
	[id_bal2] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](512) NOT NULL,
	[description] [nvarchar](512) NOT NULL,
	[id_bal2_parent] [int] NOT NULL,
	[valid_to] [datetime2](7) NOT NULL,
	[id_del] [bit] NOT NULL,
	[id_bal2_version] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bal2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[DIC_BAL2_VERSION]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[DIC_BAL2_VERSION](
	[id_bal2_version] [int] IDENTITY(1,1) NOT NULL,
	[version_name] [varchar](1024) NOT NULL,
	[is_del] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bal2_version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[dic_calc]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[dic_calc](
	[id_calc] [int] IDENTITY(1,1) NOT NULL,
	[date_start] [datetime2](7) NOT NULL,
	[date_end] [datetime2](7) NULL,
	[id_corr] [int] NULL,
	[descr] [nvarchar](1024) NULL,
	[id_scenario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_calc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[DIC_CLIENT]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[DIC_CLIENT](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[client_name] [varchar](512) NOT NULL,
	[create_date] [datetime2](7) NOT NULL,
	[valid_to] [datetime2](7) NOT NULL,
	[is_del] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[dic_corr]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[dic_corr](
	[id_corr] [int] NOT NULL,
	[description] [nvarchar](1024) NULL,
	[procedure_name] [nvarchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_corr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[dic_period]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[dic_period](
	[id_period] [int] NOT NULL,
	[left_margin] [date] NULL,
	[right_margin] [date] NULL,
	[description] [nvarchar](1024) NULL,
	[create_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[DIC_TYPE]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[DIC_TYPE](
	[id_type] [int] NOT NULL,
	[description] [nvarchar](1024) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[DIC_TYPE_HIERARCHY]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[DIC_TYPE_HIERARCHY](
	[id_type_hierarchy] [int] IDENTITY(1,1) NOT NULL,
	[id_version] [int] NOT NULL,
	[id_type] [int] NOT NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_type_hierarchy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[DIC_TYPE_HIERARCHY_VERSION]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[DIC_TYPE_HIERARCHY_VERSION](
	[id_version] [int] NOT NULL,
	[description] [nvarchar](1024) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[DM_REST]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[DM_REST](
	[id_period] [int] NOT NULL,
	[id_calc] [int] NOT NULL,
	[id_corr] [int] NOT NULL,
	[id_type] [int] NOT NULL,
	[id_client] [int] NOT NULL,
	[id_account] [int] NOT NULL,
	[id_agreement] [int] NOT NULL,
	[value] [numeric](28, 12) NOT NULL
) ON [PRIMARY]
GO
/****** Объект:  Table [Accounting].[FCT_CARRY]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounting].[FCT_CARRY](
	[id_CARRY] [int] IDENTITY(1,1) NOT NULL,
	[carry_date] [datetime2](7) NOT NULL,
	[carry_ground] [nvarchar](1024) NOT NULL,
	[id_account] [int] NOT NULL,
	[id_agreement] [int] NOT NULL,
	[VL] [numeric](28, 12) NOT NULL,
	[SRC_date] [datetime] NOT NULL,
 CONSTRAINT [PK_Accounting_FCT_CARRY_Partitioned] PRIMARY KEY CLUSTERED 
(
	[id_CARRY] ASC,
	[carry_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CarryDate_Yearly]([carry_date])
) ON [ps_CarryDate_Yearly]([carry_date])
GO
/****** Объект:  Table [STAGE].[BUF_FCT_CARRY]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STAGE].[BUF_FCT_CARRY](
	[CARRY_DATE] [datetime2](7) NOT NULL,
	[TURNOVER_SUM] [numeric](28, 12) NOT NULL,
	[account_name] [nvarchar](1024) NOT NULL,
	[client_name] [nvarchar](1024) NOT NULL,
	[agreement_name] [nvarchar](1024) NOT NULL,
	[carry_ground] [nvarchar](1024) NOT NULL,
	[bal2] [nvarchar](512) NULL,
	[extra_data] [nvarchar](1024) NOT NULL
) ON [PRIMARY]
GO
/****** Объект:  Index [DIC_ACCOUNT_INDEX]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
CREATE NONCLUSTERED INDEX [DIC_ACCOUNT_INDEX] ON [Accounting].[DIC_ACCOUNT]
(
	[id_account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [DIC_AGREEMENT_INDEX]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
CREATE NONCLUSTERED INDEX [DIC_AGREEMENT_INDEX] ON [Accounting].[DIC_AGREEMENT]
(
	[id_agreement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [DIC_CLIENT_INDEX]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
CREATE NONCLUSTERED INDEX [DIC_CLIENT_INDEX] ON [Accounting].[DIC_CLIENT]
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Accounting].[DIC_ACCOUNT] ADD  DEFAULT ('2099-01-01') FOR [valid_to]
GO
ALTER TABLE [Accounting].[DIC_AGREEMENT] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [Accounting].[DIC_AGREEMENT] ADD  DEFAULT ('2099-01-01') FOR [valid_to]
GO
ALTER TABLE [Accounting].[DIC_AGREEMENT] ADD  DEFAULT ((0)) FOR [is_del]
GO
ALTER TABLE [Accounting].[DIC_BAL2] ADD  DEFAULT ('2099-01-01') FOR [valid_to]
GO
ALTER TABLE [Accounting].[DIC_BAL2] ADD  DEFAULT ((0)) FOR [id_del]
GO
ALTER TABLE [Accounting].[DIC_BAL2_VERSION] ADD  DEFAULT ((0)) FOR [is_del]
GO
ALTER TABLE [Accounting].[dic_calc] ADD  DEFAULT (getdate()) FOR [date_start]
GO
ALTER TABLE [Accounting].[dic_calc] ADD  DEFAULT (NULL) FOR [date_end]
GO
ALTER TABLE [Accounting].[DIC_CLIENT] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [Accounting].[DIC_CLIENT] ADD  DEFAULT ('2099-01-01') FOR [valid_to]
GO
ALTER TABLE [Accounting].[DIC_CLIENT] ADD  DEFAULT ((0)) FOR [is_del]
GO
ALTER TABLE [Accounting].[dic_period] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [Accounting].[DIC_ACCOUNT]  WITH CHECK ADD FOREIGN KEY([id_bal2])
REFERENCES [Accounting].[DIC_BAL2] ([id_bal2])
GO
ALTER TABLE [Accounting].[DIC_ACCOUNT]  WITH CHECK ADD FOREIGN KEY([id_account])
REFERENCES [Accounting].[DIC_CLIENT] ([id_client])
GO
ALTER TABLE [Accounting].[DIC_AGREEMENT]  WITH CHECK ADD  CONSTRAINT [FK_DIC_AGREEMENT_DIC_CLIENT] FOREIGN KEY([id_client])
REFERENCES [Accounting].[DIC_CLIENT] ([id_client])
GO
ALTER TABLE [Accounting].[DIC_AGREEMENT] CHECK CONSTRAINT [FK_DIC_AGREEMENT_DIC_CLIENT]
GO
ALTER TABLE [Accounting].[DIC_BAL2]  WITH CHECK ADD FOREIGN KEY([id_bal2_version])
REFERENCES [Accounting].[DIC_BAL2_VERSION] ([id_bal2_version])
GO
ALTER TABLE [Accounting].[DIC_TYPE_HIERARCHY]  WITH CHECK ADD FOREIGN KEY([id_type])
REFERENCES [Accounting].[DIC_TYPE] ([id_type])
GO
ALTER TABLE [Accounting].[DIC_TYPE_HIERARCHY]  WITH CHECK ADD FOREIGN KEY([id_version])
REFERENCES [Accounting].[DIC_TYPE_HIERARCHY_VERSION] ([id_version])
GO
ALTER TABLE [Accounting].[DIC_TYPE_HIERARCHY]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [Accounting].[DIC_TYPE] ([id_type])
GO
ALTER TABLE [Accounting].[DM_REST]  WITH CHECK ADD FOREIGN KEY([id_agreement])
REFERENCES [Accounting].[DIC_AGREEMENT] ([id_agreement])
GO
ALTER TABLE [Accounting].[DM_REST]  WITH CHECK ADD FOREIGN KEY([id_calc])
REFERENCES [Accounting].[dic_calc] ([id_calc])
GO
ALTER TABLE [Accounting].[DM_REST]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [Accounting].[DIC_CLIENT] ([id_client])
GO
ALTER TABLE [Accounting].[DM_REST]  WITH CHECK ADD FOREIGN KEY([id_corr])
REFERENCES [Accounting].[dic_corr] ([id_corr])
GO
ALTER TABLE [Accounting].[DM_REST]  WITH CHECK ADD FOREIGN KEY([id_period])
REFERENCES [Accounting].[dic_period] ([id_period])
GO
ALTER TABLE [Accounting].[DM_REST]  WITH CHECK ADD FOREIGN KEY([id_type])
REFERENCES [Accounting].[DIC_TYPE] ([id_type])
GO
ALTER TABLE [Accounting].[DM_REST]  WITH CHECK ADD FOREIGN KEY([id_account])
REFERENCES [Accounting].[DIC_ACCOUNT] ([id_account])
GO
ALTER TABLE [Accounting].[FCT_CARRY]  WITH CHECK ADD FOREIGN KEY([id_agreement])
REFERENCES [Accounting].[DIC_AGREEMENT] ([id_agreement])
GO
ALTER TABLE [Accounting].[FCT_CARRY]  WITH CHECK ADD FOREIGN KEY([id_account])
REFERENCES [Accounting].[DIC_ACCOUNT] ([id_account])
GO
/****** Объект:  StoredProcedure [Accounting].[CALC_BS]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [Accounting].[CALC_BS]
    @id_period int,
    @id_scenario int = 1 
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @id_type INT = 1; 
    DECLARE @id_corr INT = 1; 
    DECLARE @proc_name NVARCHAR(1024) = OBJECT_NAME(@@PROCID);

    DECLARE @id_calc INT;
    DECLARE @left_margin DATE;
    DECLARE @right_margin DATE;

    -- 1. Получаем границы текущего периода
    SELECT 
        @left_margin = left_margin,
        @right_margin = right_margin
    FROM Accounting.dic_period
    WHERE id_period = @id_period;

    IF @left_margin IS NULL OR @right_margin IS NULL
    BEGIN
        RAISERROR('Указанный расчетный период id_period = %d не найден в Accounting.dic_period', 16, 1, @id_period);
        RETURN;
    END

    -- Регистрируем НОВЫЙ номер расчета
    EXEC Accounting.GET_NEW_CALC
        @id_calc = @id_calc OUTPUT,
        @proc_name = @proc_name,
        @id_scenario = @id_scenario,
        @id_corr = @id_corr;

    IF @id_calc IS NULL OR @id_calc = -1
    BEGIN
        RAISERROR('Не удалось инициализировать запись расчета в Accounting.GET_NEW_CALC', 16, 1);
        RETURN;
    END

    -- Заворачиваем весь расчет в безопасный блок TRY...CATCH
    BEGIN TRY
        BEGIN TRANSACTION;

        -- =========================================================================
        -- ИНКРЕМЕНТАЛЬНОЕ СТОРНИРОВАНИЕ
        -- =========================================================================
        DECLARE @last_active_calc_id INT;
        
        SELECT TOP 1 @last_active_calc_id = id_calc
        FROM Accounting.DM_REST
        WHERE id_period = @id_period 
          AND id_type = @id_type
          AND id_calc <> @id_calc
        ORDER BY id_calc DESC; 

        IF @last_active_calc_id IS NOT NULL
        BEGIN
            INSERT INTO Accounting.DM_REST (
                 id_period
                ,id_calc
                ,id_corr
                ,id_type
                ,id_client
                ,id_account
                ,id_agreement
                ,[value]
            )
            SELECT 
                 id_period
                ,@id_calc 
                ,@id_corr
                ,id_type
                ,id_client
                ,id_account
                ,id_agreement
                ,(-1.000000000000) * [value] 
            FROM Accounting.DM_REST
            WHERE id_period = @id_period 
              AND id_type = @id_type
              AND id_calc = @last_active_calc_id;
        END

        -- =========================================================================
        -- ВЫЧИСЛЕНИЕ НОВЫХ ОСТАТКОВ
        -- =========================================================================
        CREATE TABLE #current_turnover (
            id_client INT,
            id_account INT,
            id_agreement INT,
            turnover_vl NUMERIC(28,12)
        );

        INSERT INTO #current_turnover (id_client, id_account, id_agreement, turnover_vl)
        SELECT 
            da.id_client,
            fc.id_account,
            fc.id_agreement,
            SUM(fc.VL) AS turnover_vl
        FROM Accounting.FCT_CARRY fc
        INNER JOIN Accounting.DIC_ACCOUNT da ON fc.id_account = da.id_account
        WHERE fc.carry_date >= @left_margin AND fc.carry_date < @right_margin
        GROUP BY da.id_client, fc.id_account, fc.id_agreement;

        CREATE TABLE #previous_rest (
            id_client INT,
            id_account INT,
            id_agreement INT,
            rest_vl NUMERIC(28,12)
        );

        DECLARE @prev_id_period INT;
        SELECT TOP 1 @prev_id_period = id_period 
        FROM Accounting.dic_period 
        WHERE right_margin = @left_margin;

        IF @prev_id_period IS NOT NULL
        BEGIN
            INSERT INTO #previous_rest (id_client, id_account, id_agreement, rest_vl)
            SELECT 
                id_client,
                id_account,
                id_agreement,
                SUM([value]) AS rest_vl
            FROM Accounting.DM_REST
            WHERE id_period = @prev_id_period 
              AND id_type = @id_type
            GROUP BY id_client, id_account, id_agreement;
        END

        CREATE TABLE #final_calc (
            id_client INT,
            id_account INT,
            id_agreement INT,
            outgoing_vl NUMERIC(28,12)
        );

        INSERT INTO #final_calc (id_client, id_account, id_agreement, outgoing_vl)
        SELECT 
            ISNULL(p.id_client, t.id_client) AS id_client,
            ISNULL(p.id_account, t.id_account) AS id_account,
            ISNULL(p.id_agreement, t.id_agreement) AS id_agreement,
            ISNULL(p.rest_vl, 0.0) + ISNULL(t.turnover_vl, 0.0) AS outgoing_vl
        FROM #previous_rest p
        FULL OUTER JOIN #current_turnover t 
            ON p.id_account = t.id_account AND p.id_agreement = t.id_agreement;

        INSERT INTO Accounting.DM_REST (
             id_period
            ,id_calc
            ,id_corr
            ,id_type
            ,id_client
            ,id_account
            ,id_agreement
            ,[value]
        )
        SELECT 
             @id_period
            ,@id_calc
            ,@id_corr
            ,@id_type
            ,id_client
            ,id_account
            ,id_agreement
            ,outgoing_vl
        FROM #final_calc
        WHERE outgoing_vl <> 0; 

        COMMIT TRANSACTION;

        -- Закрываем расчет только при успехе транзакции
        EXEC Accounting.FINISH_NEW_CALC @id_calc = @id_calc OUTPUT;

        DROP TABLE #current_turnover;
        DROP TABLE #previous_rest;
        DROP TABLE #final_calc;

    END TRY
    BEGIN CATCH
        -- Если транзакция осталась открыта из-за ошибки — принудительно её откатываем
        IF @@TRANCOUNT > 0 
            ROLLBACK TRANSACTION;

        -- Маркируем расчет как ошибочный (ставим -1), чтобы не подвешивать date_end = NULL
        UPDATE Accounting.dic_calc 
        SET descr = CONCAT('ERROR: ', LEFT(ERROR_MESSAGE(), 900)), date_end = GETDATE() 
        WHERE id_calc = @id_calc;

        -- Перевыбрасываем ошибку для логирования во внешнем скрипте
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE(), @ErrSev INT = ERROR_SEVERITY(), @ErrState INT = ERROR_STATE();
        RAISERROR(@ErrMsg, @ErrSev, @ErrState);
    END CATCH
END
GO
/****** Объект:  StoredProcedure [Accounting].[CREATE_NEW_PERIOD]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************/
CREATE   procedure [Accounting].[CREATE_NEW_PERIOD]
    @ID_PERIOD int = -1 OUTPUT,
    @DESCR varchar(512),
    @Left_margin date,
    @right_margin date

WITH execute as OWNER
AS
    
    declare @return_code int = -1
    --вставка выполняется только если 
        --отсутствует номер периода (при любых границах)
        --отсутствует сочетание границ (при любом номере)
        --задано корректное сочетание (левая левее правой)
    if (
        not exists (
                    select 1 from Accounting.dic_period dp 
                    where dp.id_period = @id_period
                    )
        AND
        not exists (select 1 from Accounting.dic_period dp 
                    where dp.id_period = @id_period
                    )
        AND
        @Left_margin < @right_margin
        )
    BEGIN
        print 'секция обработки'
       insert into Accounting.dic_period 
        (id_period, left_margin, right_margin, [description] )
        values 
        (@ID_PERIOD, @Left_margin, @right_margin, @DESCR);
    END
    ELSE
        BEGIN
            print 'Секция ошибки'
            select @ID_PERIOD = @return_code
        END


GO
/****** Объект:  StoredProcedure [Accounting].[FINISH_NEW_CALC]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************/
CREATE   procedure [Accounting].[FINISH_NEW_CALC]
    @id_calc int = -1 OUTPUT

WITH execute as OWNER
AS
    declare @current_date datetime2 = getdate()
    
    if  exists (select 1 from Accounting.DIC_CALC where id_calc = @id_calc)
        AND
        (select date_end from Accounting.DIC_CALC where id_calc = @id_calc) is NULL

        UPDATE Accounting.dic_calc
        SET date_end = @current_date
        where id_calc = @id_calc
    ELSE
        set @id_calc = -1


GO
/****** Объект:  StoredProcedure [Accounting].[GET_NEW_CALC]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************/
CREATE   procedure [Accounting].[GET_NEW_CALC]
    @id_calc int = -1 OUTPUT,
    @proc_name nvarchar(1024),
    @id_scenario int,
    @id_corr int

WITH execute as OWNER
AS
    declare @current_date datetime2 = getdate()

    insert into Accounting.dic_calc 
        (date_start, date_end, id_corr, descr, id_scenario)
    values
        (@current_date, NULL, @id_corr, @proc_name, @id_scenario)
    
    set @id_calc = (
        select top 1 id_calc
        from Accounting.dic_calc
        where 1=1
            AND date_start = @current_date
            AND date_end is NULL
            AND id_corr = @ID_CORR
            AND descr = @proc_name
            AND id_scenario = @id_scenario
        )
--        RETURN @return_code

GO
/****** Объект:  StoredProcedure [STAGE].[LOAD_CARRY]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************/
CREATE   procedure [STAGE].[LOAD_CARRY]
     @MODE nvarchar(512) = 'current period'

WITH execute as OWNER
-------------------
AS
BEGIN
    SET NOCOUNT ON;

    --действительные параметры даты текущего периода
    declare
            @YEAR   int = cast(year(getdate()) as int)
        ,   @MONTH  int = cast(month(getdate()) as int)


    --для "предыдущего периода" (загрузка после отчётной даты)
    if @MODE = 'previous period'
        SELECT
            @year = year(DATEADD(MONTH, -1, getdate())),
            @month = month(DATEADD(MONTH, -1, getdate()))

    --Создание времянки
    CREATE TABLE #carry_buffer (
        --обработка дат
        LOAD_DATE       datetime2       default getdate(),
        CARRY_DATE      datetime2,
        turnover        NUMERIC(28,12)  default 0.0,
        --обработка счёта
        account_name    nvarchar(1024),
        id_account      int             default -1,
        bal2            nvarchar(512)   default '',
        --обработка договора
        agreement_name  nvarchar(1024),
        id_agreement    int             default -1,
        --обработка клиента
        client_name     nvarchar(1024),
        id_client       int             default -1,
        --обработка доп.параметров
        carry_ground    nvarchar(1024),
        extra_data      nvarchar(1024),
        --служебная отметка
        is_del          int             default 0
    )

    -- набор данных из входящего буфера, данные агрегируются
    insert into #carry_buffer (
        carry_date,
        turnover,
        account_name,
        agreement_name,
        client_name,
        carry_ground,
        bal2,
        extra_data
        )
    select
        cast(stg.carry_date as date),
        sum(turnover_sum),
        stg.account_name,
        stg.agreement_name,
        stg.client_name,
        stg.carry_ground,
        stg.bal2,
        stg.extra_data
    from STAGE.BUF_FCT_CARRY stg
    where
        year(stg.carry_date) = @YEAR and
        month(stg.carry_date) = @MONTH
    GROUP BY
        cast(stg.carry_date as date),
        stg.account_name,
        stg.agreement_name,
        stg.client_name,
        stg.carry_ground,
        stg.bal2,
        stg.extra_data

    --сверка клиентов
    MERGE INTO Accounting.dic_client as tgt
    using (
        select distinct ltrim(rtrim(client_name)) as client_name
        from #carry_buffer
        where client_name is not null and client_name <> ''
    ) as src
    ON src.client_name = tgt.client_name
    WHEN not matched BY TARGET
        THEN
            INSERT (client_name)
            VALUES (client_name)
    OUTPUT $action, deleted.*, inserted.*
    ;

    --подтягиваем клиентов - нужны для договоров
    UPDATE cb
    SET cb.id_client = dc.id_client
    FROM #carry_buffer cb
    INNER JOIN Accounting.Dic_client dc ON ltrim(rtrim(cb.client_name)) = dc.client_name

    --сверка договоров
    MERGE INTO Accounting.dic_agreement as tgt
    using (
        select distinct ltrim(rtrim(agreement_name)) as agreement_name, id_client
        from #carry_buffer
        where agreement_name is not null and agreement_name <> ''
    ) as src
    ON src.agreement_name = tgt.agreement_name and src.id_client = tgt.id_client
    WHEN not matched BY TARGET
        THEN
            INSERT (agreement_name, id_client)
            VALUES (agreement_name, id_client)
    OUTPUT $action, deleted.*, inserted.*
    ;
      --Определяем активную версию справочника BAL2 (берем первую активную/доступную)
    declare @current_bal2_version_id int;
    select top 1 @current_bal2_version_id = id_bal2_version
    from Accounting.DIC_BAL2_VERSION
    where is_del = 0
    order by id_bal2_version desc;

    -- Если версий нет вообще, жестко зашиваем 1
    set @current_bal2_version_id = isnull(@current_bal2_version_id, 1);


    --Сверка счетов
     MERGE INTO Accounting.dic_account as tgt
    using (
        select distinct
             ltrim(rtrim(cb.account_name)) as account_name
            ,ltrim(rtrim(cb.bal2)) as bal2_code
        from #carry_buffer cb
        where cb.account_name IS NOT NULL and cb.account_name <> ''
    ) as src
    ON src.account_name = tgt.account_name
    WHEN not matched BY TARGET
        THEN
            INSERT (
                account_name,
                id_client,
                id_bal2
            )
            VALUES (
                src.account_name,
                1,
                -- ЛОГИКА ПОИСКА: Если в будущем bal2 начнет приходить не пустым, раскомментировать нижнюю строку ISNULL:
                -- isnull((select top 1 b.id_bal2 from Accounting.DIC_BAL2 b where b.name = cast(src.bal2_code as varchar(5)) and b.id_bal2_version = @current_bal2_version_id and b.id_del = 0), 1)
                1 -- Текущая заглушка (ссылается на запись '*' с id_bal2 = 1)
            )
    OUTPUT $action, deleted.*, inserted.*
    ;

    --формируем целевую таблицу (типы данных полностью синхронны с Accounting.FCT_CARRY)
    create table #fct_carry_tgt (
        carry_date      DATEtime2       NOT NULL
       ,carry_ground    nvarchar(1024)  NOT NULL
       ,id_account      int             NOT NULL
       ,id_agreement    int             NOT NULL
       ,VL              numeric(28,12)  NOT NULL DEFAULT 0
       ,SRC_date        datetime        NOT NULL DEFAULT cast(getdate() as datetime)
    )

    --сторнирующая часть
    insert into #fct_carry_tgt (
         carry_date
        ,carry_ground
        ,id_account
        ,id_agreement
        ,VL
        ,SRC_date
    )
    select
         carry_date
        ,concat(N'сторно:', carry_ground) -- добавлен префикс N для юникода
        ,id_account
        ,id_agreement
        ,(-1) * VL
        ,SRC_date
    from Accounting.Fct_Carry fc
    where year(fc.carry_date) = @YEAR and
          month(fc.carry_date) = @MONTH

    --Обновляем идентификаторы в буфере перед переносом
    UPDATE cb
    SET
          cb.id_client    = isnull(dc.id_client, 1)      -- если клиент не найден, ставим дефолтного (1)
        , cb.id_agreement = isnull(dag.id_agreement, -1) -- временный маркер, если договор не найден
        , cb.id_account   = isnull(da.id_account, 1)     -- дефолт 1 для счета
    FROM #carry_buffer cb
    LEFT JOIN Accounting.dic_client dc
        ON dc.client_name = ltrim(rtrim(cb.client_name))
    LEFT JOIN Accounting.dic_agreement dag
        ON dag.agreement_name = ltrim(rtrim(cb.agreement_name)) AND dag.id_client = dc.id_client
    LEFT JOIN Accounting.dic_account da
        ON da.account_name = ltrim(rtrim(cb.account_name))
    WHERE cb.is_del = 0;

    --Определяем ID какого-нибудь существующего договора для дефолтного клиента (на случай, если у записи не нашелся договор)
    declare @default_agreement_id int;
    select top 1 @default_agreement_id = id_agreement
    from Accounting.dic_agreement a
    where a.id_client = 1;

    -- Если у дефолтного клиента еще нет ни одного договора, берем вообще любой первый попавшийся из справочника, чтобы не упал FK NOT NULL
    if @default_agreement_id is null
        select top 1 @default_agreement_id = id_agreement from Accounting.dic_agreement;

    --устанавливающая часть: собираем проводки из буфера в #fct_carry_tgt
    insert into #fct_carry_tgt (
         carry_date
        ,carry_ground
        ,id_account
        ,id_agreement
        ,VL
        ,SRC_date
    )
    select
         CARRY_DATE
        ,isnull(carry_ground, N'Не указано')
        ,id_account
        -- Если договор не определен, подставляем вычисленный безопасный ID договора
        ,case when id_agreement = -1 then isnull(@default_agreement_id, 1) else id_agreement end
        ,turnover
        ,LOAD_DATE
    from #carry_buffer
    where is_del = 0;

    --Финал: прямой перенос накопленных данных (сторно + новые) в физическую таблицу Accounting.FCT_CARRY
    insert into Accounting.FCT_CARRY (
         carry_date
        ,carry_ground
        ,id_account
        ,id_agreement
        ,VL
        ,SRC_date
    )
    select
         carry_date
        ,carry_ground -- Прямая вставка nvarchar -> nvarchar без CAST
        ,id_account
        ,id_agreement
        ,VL
        ,SRC_date
    from #fct_carry_tgt;

END

GO
/****** Объект:  StoredProcedure [STAGE].[LOAD_CARRY_INITIAL]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************/
CREATE   procedure [STAGE].[LOAD_CARRY_INITIAL]
WITH execute as OWNER
-------------------
AS
BEGIN
    SET NOCOUNT ON;

    -- Создание времянки (структура полностью идентична регулярной процедуре)
    CREATE TABLE #carry_buffer (
        LOAD_DATE       datetime2       default getdate(),
        CARRY_DATE      datetime2,
        turnover        NUMERIC(28,12)  default 0.0,
        account_name    nvarchar(1024),
        id_account      int             default -1,
        bal2            nvarchar(512)   default '',
        agreement_name  nvarchar(1024),
        id_agreement    int             default -1,
        client_name     nvarchar(1024),
        id_client       int             default -1,
        carry_ground    nvarchar(1024), 
        extra_data      nvarchar(1024),
        is_del          int             default 0
    )

    -- Набор данных из ВСЕГО входящего буфера без фильтрации по @YEAR и @MONTH
    insert into #carry_buffer (
        carry_date,
        turnover,
        account_name,
        agreement_name,
        client_name,
        carry_ground,
        bal2,
        extra_data
        )
    select
        cast(stg.carry_date as date), -- отбрасываем метки времени, оставляя только чистую дату
        sum(turnover_sum),
        stg.account_name,
        stg.agreement_name,
        stg.client_name,
        stg.carry_ground,
        stg.bal2,
        stg.extra_data
    from STAGE.BUF_FCT_CARRY stg
    -- Исключили WHERE-блок фильтрации периодов, чтобы забрать всю историю
    GROUP BY
        cast(stg.carry_date as date),
        stg.account_name,
        stg.agreement_name,
        stg.client_name,
        stg.carry_ground,
        stg.bal2,
        stg.extra_data;
    -- 

    -- Сверка клиентов (синхронизируем весь справочник)
    MERGE INTO Accounting.dic_client as tgt
    using (
        select distinct ltrim(rtrim(client_name)) as client_name
        from #carry_buffer
        where client_name is not null and client_name <> ''
    ) as src
    ON src.client_name = tgt.client_name
    WHEN not matched BY TARGET
        THEN
            INSERT (client_name)
            VALUES (client_name)
    OUTPUT $action, deleted.*, inserted.*
    ;

    -- Подтягиваем ID клиентов для последующей привязки договоров
    UPDATE cb
    SET cb.id_client = dc.id_client
    FROM #carry_buffer cb
    INNER JOIN Accounting.Dic_client dc ON ltrim(rtrim(cb.client_name)) = dc.client_name

    -- Сверка договоров
    MERGE INTO Accounting.dic_agreement as tgt
    using (
        select distinct ltrim(rtrim(agreement_name)) as agreement_name, id_client
        from #carry_buffer
        where agreement_name is not null and agreement_name <> ''
    ) as src
    ON src.agreement_name = tgt.agreement_name and src.id_client = tgt.id_client
    WHEN not matched BY TARGET
        THEN
            INSERT (agreement_name, id_client)
            VALUES (agreement_name, id_client)
    OUTPUT $action, deleted.*, inserted.*
    ;

    -- Сверка счетов
    -- Определяем активную версию справочника BAL2
    declare @current_bal2_version_id int;
    select top 1 @current_bal2_version_id = id_bal2_version
    from Accounting.DIC_BAL2_VERSION
    where is_del = 0
    order by id_bal2_version desc;

    set @current_bal2_version_id = isnull(@current_bal2_version_id, 1);

    MERGE INTO Accounting.dic_account as tgt
    using (
        select distinct
             ltrim(rtrim(cb.account_name)) as account_name
            ,ltrim(rtrim(cb.bal2)) as bal2_code
        from #carry_buffer cb
        where cb.account_name IS NOT NULL and cb.account_name <> ''
    ) as src
    ON src.account_name = tgt.account_name
    WHEN not matched BY TARGET
        THEN
            INSERT (
                account_name,
                id_client,
                id_bal2
            )
            VALUES (
                src.account_name,
                1,
                -- Заглушка, подставляющая id_bal2 = 1 (План счетов верхний уровень)
                1
            )
    OUTPUT $action, deleted.*, inserted.*
    ;

    -- Формируем целевую таблицу для вставки (точно повторяет Accounting.FCT_CARRY)
    create table #fct_carry_tgt (
        carry_date      DATEtime2       NOT NULL
       ,carry_ground    nvarchar(1024)  NOT NULL 
       ,id_account      int             NOT NULL
       ,id_agreement    int             NOT NULL
       ,VL              numeric(28,12)  NOT NULL DEFAULT 0
       ,SRC_date        datetime        NOT NULL DEFAULT cast(getdate() as datetime)
    )

    -- Обновляем идентификаторы ключей в буфере по всей истории
    UPDATE cb
    SET
          cb.id_client    = isnull(dc.id_client, 1)      
        , cb.id_agreement = isnull(dag.id_agreement, -1) 
        , cb.id_account   = isnull(da.id_account, 1)     
    FROM #carry_buffer cb
    LEFT JOIN Accounting.dic_client dc 
        ON dc.client_name = ltrim(rtrim(cb.client_name))
    LEFT JOIN Accounting.dic_agreement dag 
        ON dag.agreement_name = ltrim(rtrim(cb.agreement_name)) AND dag.id_client = dc.id_client
    LEFT JOIN Accounting.dic_account da 
        ON da.account_name = ltrim(rtrim(cb.account_name))
    WHERE cb.is_del = 0;

    -- Поиск дефолтного договора для подстраховки FK ограничений
    declare @default_agreement_id int;
    select top 1 @default_agreement_id = id_agreement 
    from Accounting.dic_agreement 
    where id_client = 1;

    if @default_agreement_id is null
        select top 1 @default_agreement_id = id_agreement from Accounting.dic_agreement;

    -- Устанавливающая часть: переносим все проводки без ограничений по датам
    insert into #fct_carry_tgt (
         carry_date
        ,carry_ground
        ,id_account
        ,id_agreement
        ,VL
        ,SRC_date
    )
    select
         CARRY_DATE
        ,isnull(carry_ground, N'Первичная загрузка') -- Если основание пустое, маркируем как первичную загрузку
        ,id_account
        ,case when id_agreement = -1 then isnull(@default_agreement_id, 1) else id_agreement end 
        ,turnover
        ,LOAD_DATE
    from #carry_buffer
    where is_del = 0;

    -- Финальный шаг: вставка накопленного исторического массива в целевую таблицу FCT_CARRY
    insert into Accounting.FCT_CARRY (
         carry_date
        ,carry_ground
        ,id_account
        ,id_agreement
        ,VL
        ,SRC_date
    )
    select 
         carry_date
        ,carry_ground
        ,id_account
        ,id_agreement
        ,VL
        ,SRC_date
    from #fct_carry_tgt;

END
GO
/****** Объект:  StoredProcedure [STAGE].[TEMP_PROC_NAME]    Дата создания скрипта: 09.10.2026 20:00:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [STAGE].[TEMP_PROC_NAME] (
	@IO_parameter nvarchar(1024) OUTPUT
	)
	
AS
	print @IO_parameter
	SELECT @IO_parameter = OBJECT_NAME(@@PROCID)-- AS CurrentProcedureName
GO
USE [master]
GO
